# --- Vivado / FPGA General ---
*.log
*.logs
*.jou
*.str
*.zip
.Xil/
*.ip_user_files/
*.hw/
*.sim/
*.runs/
*.cache/
*.gen/
*.xsa
*.bit
*.dcp

# --- Vitis ---
**/hls/
**/reports/
**/_ide/
**/build/

# HLS intermediate and database files
*.adb
*.xml
*.bc
*.ll
*.protoinst
*.DependenceCheck.tcl
*.tbgen.tcl
**/.gitignore

# HLS Simulation Artifacts
*.dat
*.vcd

*.hlscompile_summary
*.hlsrun_csim_summary
*.hlsrun_impl_summary
*.hlsrun_package_summary
compile_commands.json

# --- IDE and Development Slop ---
.cache/
.settings/
.project
.cproject
.vscode/
.rigel_lopper/

# C/C++
.cache/clangd/
*.o

# --- Project Specific Logs ---
compile.log

# Custom outputs
hardware_overlay/
dependencies/
package/
.tar.gz
HLS-Verilog/test_data/
*.bin