# Ignore build output directory
/build
/export
/mask_allowed

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log
.cache

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata
_ide/workspace*
